a{
    text-underline: none;
}

body{
    background-image: url("./images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#main{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#header{
    margin: 15% 0;
}

.userInputs{
    height: 200px;
    background-color: rgb(137, 211, 233);
    opacity: 0.6;
    position: relative;
}

.userInputs .userInput{
    display: inline-block;
    margin: 20px auto;
    width: 180px;
}

.userInputs #loginButton{
    margin: 10px auto;
    width: 100px;
    height: 40px;
}

#signUp{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

