body{
    background-image: url("./images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    width: 20%;
    margin: 100px auto;
}

.form input{
    margin: 20px;
    width: 100px;
}